<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ course.course_name }} - Individual Course</title>
    <!-- Add your CSS styles or link to an external stylesheet here -->
</head>
<body>

<h1>{{ course.course_name }} - Individual Course</h1>

<!-- Display options for materials, quizzes, and assignments -->
<ul>
    <li><a href="{{ url_for('see_materials', course_name=course.course_name) }}">See Materials</a></li>
    <li><a href="{{ url_for('see_quizzes', course_name=course.course_name) }}">See Quizzes</a></li>
    <li><a href="{{ url_for('see_assignments', course_name=course.course_name) }}">See Assignments</a></li>
</ul>

</body>
</html>
