<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Courses</title>
    <style>
        .course-container {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<h1>My Courses</h1>

<!-- Display joined courses -->

<h2>Joined Courses</h2>
{% for course in my_courses %}
    <div class="course-container">
        <h3><a href="{{ url_for('individual_course', course_name=course['name']) }}">{{ course['name'] }}</a></h3>
        <p>Department: {{ course['department'] }}</p>
        <p>Created By: {{ course['createdBy'] }}</p>
        <p>Description: {{ course['description'] }}</p>
        <!-- You can add more details as needed -->
    </div>
{% endfor %}
<!-- Display other courses in the same department -->
<h2>Other Courses</h2>
{% for course in other_courses %}
    <div class="course-container">
        <h3>{{ course['name'] }}</h3>
        <p>Department: {{ course['department'] }}</p>
        <p>Created By: {{ course['createdBy'] }}</p>
        <p>Description: {{ course['description'] }}</p>
        {% if course['name'] in joined_course_names %}
            <p>You have already joined this course.</p>
        {% else %}
            <form method="post" action="/verify_join">
                <input type="hidden" name="course_id" value="{{ course['_id'] }}">
                <label for="enteredPassword">Enter Course Password:</label>
                <input type="password" id="enteredPassword" name="enteredPassword" required>
                <input type="hidden" name="courseName" value="{{ course['name'] }}">
                <button type="submit">Join Course</button>
            </form>
        {% endif %}
    </div>
{% endfor %}

</body>
</html>
