<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fantasy Materials</title>
</head>
<body>
    <h1>{{ course_name }} - {{ quiz_name }} - fantasy Materials</h1>

    <h2>Recommendation: fantasy Content Theme</h2>

    {% if learning_level == 'quick learner' %}
    <p>Quick Learner Material: {{ materials.topper_material }}</p>
    {% elif learning_level == 'average learner' %}
        <p>Average Learner Material: {{ materials.average_learner_material }}</p>
    {% elif learning_level == 'slow learner' %}
        <p>Slow Learner Material: {{ materials.slow_learner_material }}</p>
    {% endif %}

</body>
</html>
